[Unit]
Description=MagAO-X Quicklookyloo
Requires=network.target
After=network.target

[Service]
User=xsup
WorkingDirectory=/home/xsup
ExecStart=/opt/conda/envs/xpy3_13/bin/lookyloo_watch

[Install]
WantedBy=default.target
