[Unit]
Description=Report heartbeat to Vizzybot

[Service]
Type=oneshot
ExecStart=/usr/bin/curl -X POST \
  -H "Content-Type: application/json" \
  -d '{"hostname": "%H"}' \
  https://vizzy.xwcl.science/api/liveness

[Install]
WantedBy=multi-user.target
