name: Build virtual machine (ARM)
on:
  push:
    branches: [main]
  # workflow_run:
  #   workflows: ["Container build"]
  #   types: [completed]
  #   branches: [main]
defaults:
  run:
    working-directory: xvm/
jobs:
  build-vm-stage0:
    # if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-24.04-arm
    container: rockylinux:9
    env:
      vmArch: aarch64
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Cache Rocky ISO
        uses: actions/cache@v4
        id: cache-vm-stage0
        with:
          path: xvm/stage0_outputs.tar
          key: rocky-iso-${{ hashFiles('xvm/_common.sh','xvm/create_rocky_iso.sh','xvm/build_vm_stage0.sh','xvm/create_kickstart.sh','xvm/kickstart/ks.cfg.template') }}-v2
      - name: Install ISO tools
        if: steps.cache-vm-stage0.outputs.cache-hit != 'true'
        run: dnf update -y && dnf install -y lorax openssh gettext curl-minimal tar
      - name: Make install ISO and keys
        if: steps.cache-vm-stage0.outputs.cache-hit != 'true'
        run: bash build_vm_stage0.sh
      - name: Bundle outputs as tar file
        if: steps.cache-vm-stage0.outputs.cache-hit != 'true'
        run: |
            tar -cvf stage0_outputs.tar ./output/
            rm ./output/*
      - name: Upload stage 0 outputs
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          name: stage0_vm
          path: xvm/stage0_outputs.tar
  build-vm-stage1:
    # if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-24.04-arm
    env:
      vmArch: aarch64
    needs: build-vm-stage0
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Cache first stage VM
        uses: actions/cache@v4
        id: cache-vm-stage1
        with:
          path: xvm/stage1_outputs.tar
          key: xvm-stage1-${{ env.vmArch }}-${{ hashFiles('**','!.github/**','!xvm/input/**','!xvm/output/**') }}-v1
      - name: Install QEMU for Ubuntu
        if: steps.cache-vm-stage1.outputs.cache-hit != 'true'
        run: sudo apt-get update -y && sudo apt-get install -y qemu-system-arm
      - name: Download Rocky install ISO and SSH keypair
        if: steps.cache-vm-stage1.outputs.cache-hit != 'true'
        uses: actions/download-artifact@v4
        with:
            name: stage0_vm
            path: xvm/
      - name: Extract previous job outputs
        if: steps.cache-vm-stage1.outputs.cache-hit != 'true'
        run: |
            tar -xvf stage0_outputs.tar
            rm stage0_outputs.tar
      - name: Create VM and install Rocky 9
        if: steps.cache-vm-stage1.outputs.cache-hit != 'true'
        run: bash build_vm_stage1.sh
      - name: Bundle outputs as tar file
        if: steps.cache-vm-stage1.outputs.cache-hit != 'true'
        run: |
            rm ./output/Rocky-9.6-aarch64-unattended.iso
            tar -cvf stage1_outputs.tar ./output/
            rm ./output/*
      - name: Upload stage 1 outputs
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          name: stage1_vm
          path: xvm/stage1_outputs.tar
  build-vm-stage2:
    # if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-24.04-arm
    env:
      vmArch: aarch64
    needs: build-vm-stage1
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Cache second stage VM
        uses: actions/cache@v4
        id: cache-vm-stage2
        with:
          path: xvm/stage2_outputs.tar
          key: xvm-stage2-${{ env.vmArch }}-${{ hashFiles('**','!.github/**','!xvm/input/**','!xvm/output/**') }}-v1
      - name: Install QEMU for Ubuntu
        if: runner.os == 'Linux' && steps.cache-vm-stage2.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-system-arm
      - name: Download initial Rocky VM
        if: steps.cache-vm-stage2.outputs.cache-hit != 'true'
        uses: actions/download-artifact@v4
        with:
            name: stage1_vm
            path: xvm/
      - name: Extract previous job outputs
        if: steps.cache-vm-stage2.outputs.cache-hit != 'true'
        run: |
            tar -xvf stage1_outputs.tar
            rm stage1_outputs.tar
            mv -v output/xvm_stage1.qcow2 output/xvm.qcow2
      - name: Install MagAO-X software
        if: steps.cache-vm-stage2.outputs.cache-hit != 'true'
        run: bash build_vm_stage2.sh
      - name: Bundle outputs as tar file
        if: steps.cache-vm-stage2.outputs.cache-hit != 'true'
        run: tar -cvf stage2_outputs.tar ./output/xvm_stage2.qcow2 ./output/xvm_key ./output/xvm_key.pub ./output/firmware_vars.fd ./output/firmware_code.fd
      - name: Upload stage 2 outputs
        uses: actions/upload-artifact@v4
        with:
          name: stage2_vm
          path: xvm/stage2_outputs.tar
  build-vm-stage3:
      # if: ${{ github.event.workflow_run.conclusion == 'success' }}
      runs-on: ubuntu-24.04-arm
      env:
        vmArch: aarch64
      needs: build-vm-stage2
      permissions:
        contents: read
        packages: write
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        - name: Cache second stage VM
          uses: actions/cache@v4
          id: cache-vm-stage3
          with:
            path: xvm/stage3_outputs.tar
            key: xvm-stage3-${{ env.vmArch }}-${{ hashFiles('**','!.github/**','!xvm/input/**','!xvm/output/**') }}-v1
        - name: Install QEMU for Ubuntu
          if: runner.os == 'Linux' && steps.cache-vm-stage3.outputs.cache-hit != 'true'
          run: |
            sudo apt-get update
            sudo apt-get install -y qemu-system-arm
        - name: Download initial Rocky VM
          if: steps.cache-vm-stage3.outputs.cache-hit != 'true'
          uses: actions/download-artifact@v4
          with:
              name: stage2_vm
              path: xvm/
        - name: Extract previous job outputs
          if: steps.cache-vm-stage3.outputs.cache-hit != 'true'
          run: |
              tar -xvf stage2_outputs.tar
              rm stage2_outputs.tar
              mv -v output/xvm_stage2.qcow2 output/xvm.qcow2
        - name: Install MagAO-X software
          if: steps.cache-vm-stage3.outputs.cache-hit != 'true'
          run:  bash build_vm_stage3.sh
        - name: Bundle outputs as tar file
          if: steps.cache-vm-stage3.outputs.cache-hit != 'true'
          run: tar -cvf stage3_outputs.tar ./output/xvm_stage3.qcow2 ./output/xvm_key ./output/xvm_key.pub ./output/firmware_vars.fd ./output/firmware_code.fd
        - name: Upload stage 3 outputs
          uses: actions/upload-artifact@v4
          with:
            name: stage3_vm
            path: xvm/stage3_outputs.tar
  build-vm-stage4:
    # if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-24.04-arm
    env:
      vmArch: aarch64
    needs: build-vm-stage3
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install QEMU for Ubuntu
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-system-arm
      - name: Download Rocky VM with dependencies
        uses: actions/download-artifact@v4
        with:
            name: stage3_vm
            path: xvm/
      - name: Extract previous job outputs
        run: |
            tar -xvf stage3_outputs.tar
            rm stage3_outputs.tar
            mv -v output/xvm_stage3.qcow2 output/xvm.qcow2
      - name: Install pigz for Ubuntu
        run: |
            sudo apt-get update
            sudo apt-get install -y pigz
      - name: Install MagAO-X software
        run: bash build_vm_stage4.sh
      - name: Upload virtual machine for UTM
        uses: actions/upload-artifact@v4
        with:
          name: utm_bundle_${{ env.vmArch }}
          path: xvm/output/bundle/MagAO-X_UTM_${{ env.vmArch }}.tar.gz
